#q{ height: 1500px;background-image:  url(images/drew-coffman-1872.jpg);}
.wert{font-size: 70px ; color:white;text-align: center;}
.family{font-size: 140px;color:white;text-align: center;}
.p{color: white;text-align: center;}
#learn{width: 600px ;height: 300px; background-color: tan;color: white;margin-left: 100px;font-size: 30px;}
.cont{background-color: transparent;width: 600px;height: 300px;border: white solid 5px ;font-size: 30px; color:white}.q{width: 5%;}
.w h2{display: inline;}
.r {width: 5%; }
.r,.e{display: inline-block;vertical-align: middle;}
.t{width: 5%;}
.t,.y{display: inline-block;vertical-align: middle;}
.u{width: 5%;}
.u,.i{display: inline-block;vertical-align: middle;}
.o{width: 5%;}
.o,.k{display: inline-block;vertical-align: middle;}

.qq{width:30%;position: relative;left: 1000px; bottom: 383px;right: 50px;}
.hh{width: 26% } #mm,.hh{display: inline-block;} 
.hh{position: relative;right: 390px;top: 30px;} #mm{position: relative;left: 200px;}
.aa img{width: 30%;}
.ali img,.mahmoud img{width: 30%;}
.ali,.mahmoud,.aa{float: left;}
.clear{clear: both;}.mahmoud{position: relative;left: 1000px;bottom: 260px;}
.ali{position: relative;right: 50px;}.rty{position: relative;right: 580px;}
.soso{width: 5%;background-color:tan ;}
.soso,.alaa{display: inline-block;vertical-align: middle;}
.mom{width: 5%;background-color: tan;}
.mom,.papa{display: inline-block;vertical-align: middle;}
.hoho img{width: 5%;background-color: tan; position: relative;left: 20px;}
.hoho img,.hoho p{display: inline-block;vertical-align: middle;}
.hoho.ramy{width: 5%;background-color: tan;}
.goo,.ramy{display: inline-block;vertical-align: middle;}
.sasa{height: 1500px;background-color: grey;}
.sasa img{width: 90%;}
.sasa h3{font-size: xx-large;}
#ram{width: 5%; background-color: blue;background-position-y: top;}












.yoyo{height: 1000px;background-color:blueviolet;}
.klm{width: 100%;}
.yoyo p{text-align: center;font-size:xx-large ;}
.home,.tree,.van,.boy{width: 10% ;position: relative;left: 500px;}